body{background: linear-gradient(to right, blue,rgb(0, 0, 201), rgb(0, 0, 134));}

#bem_vindo{color: white;
          font-family: 'Open Sans',sans-serif,bold;
          font-size: 50px;
          position: fixed;
          top: 20%;
          left: 20%;}

#logo{position: fixed;
      left: 27.5%;
      bottom: 45%;}

#Entrar-sala{background: linear-gradient(to right, blue,rgb(0, 0, 201), rgb(0, 0, 134));
             position: fixed;
             bottom: 30%;
             left: 25%;   
             width: 50%;
             height: 5%;
             border: 0px;
             border-radius: 50px;   
             color: white;
             font-family: Verdana, Geneva, Tahoma, sans-serif;}

#detalhe_entrar{background-color: white;
                position: fixed;
                bottom: 273px;
                left: 24%;   
                width: 52%;
                height: 6%;
                border: 0px;
                border-radius: 50px; }

#Criar-sala{background: linear-gradient(to right, blue,rgb(0, 0, 201), rgb(0, 0, 134));
            position: fixed;
            bottom: 20%;
            left: 25%;   
            width: 50%;
            height: 5%;
            border: 0px;
            border-radius: 50px;   
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;}

#detalhe_criar{background-color: white;
               position: fixed;
               bottom: 180px;
               left: 24%;   
               width: 52%;
               height: 6%;
               border: 0px;
               border-radius: 50px;}

#Entrar-sala:hover{color: blue;
                   background: linear-gradient(to right,white,white)}

#Criar-sala:hover{color: blue;
                  background: linear-gradient(to right,white,white)}
